{{define "tp"}}
    <script>
        Alpine.data('tp', () => ({
            id: "{{.ID}}",
            name: "{{.Name}}",

            editable: false,

            toggle() {
                this.editable = !this.editable
            }
        }))
    </script>
    <div id="dcl" x-data="tp">
        <input x-model="name" type="text" class="form-control">
        <hr>
        {{template "st" (dict "St" .St "Root" .ID)}}
    </div>
{{end}}

{{define "st"}}
    {{$kinds := list "one" "ref" "tensor" "lolli" "with" "plus"}}
    {{if or (eq .St.K "with") (eq .St.K "plus")}}
        <ul>
            <li>
            {{range $label, $st := .St.Chs}}
                <details open>
                    <summary>
                        <input value="{{$label}}" type="text" class="form-control">
                    </summary>
                    <ul>
                        {{template "st" (dict "St" $st "Root" $.Root)}}
                    </ul>
                </details>
            {{end}}
            </li>
        </ul>
    {{else if or (eq .St.K "tensor") (eq .St.K "lolli")}}
        <ul>
            <li>
                {{template "st" (dict "St" .St.M "Root" .Root)}}
                <select class="form-select">
                {{range $k := $kinds}}
                    <option value="{{$k}}" {{if eq $k $.St.K}}selected{{end}}>{{$k}}</option>
                {{end}}
                </select>
                {{template "st" (dict "St" .St.S "Root" .Root)}}
            </li>
            {{if ne .St.S.K "ref"}}
                {{template "st" (dict "St" .St.S "Root" .Root)}}
            {{end}}
        </ul>
    {{else if eq .St.K "ref"}}
        {{if eq .St.ID .Root}}
            <span x-text="name"></span>
        {{else}}
            <a href="/ssr/tps/{{.St.ID}}" hx-target="#dcl" hx-swap="outerHTML" hx-boost="true">{{.St.Name}}</a>
        {{end}}
    {{else}}
        <select class="form-select">
        {{range $k := $kinds}}
            <option value="{{$k}}" {{if eq $k $.St.K}}selected{{end}}>{{$k}}</option>
        {{end}}
        </select>
    {{end}}
{{end}}
