{{define "sig"}}
    <div id="sig">
        <fieldset>
            <div class="row text-start">
                <legend class="form-label">Decl</legend>
            </div>
            <div class="row row-cols-auto">
                <label class="col-form-label">ID</label>
                <div class="col">
                    <input disabled type="text" class="form-control" value="{{ .ID }}" aria-label="ID">
                </div>
                <label class="col-form-label">Name</label>
                <div class="col">
                    <input disabled type="text" class="form-control" value="{{ .Name }}" aria-label="Name">
                </div>
            </div>
        </fieldset>
    </div>
{{end}}
